* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body {
    background: linear-gradient(180deg, #111);
    color: #fff
}

header {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    padding: -20px 40px;
    background: linear-gradient(180deg, #111, #000);
}

.logo img {
    height: 100px;
    width: auto;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    gap: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 45px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 0;
}

ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #ff9500;
    transition: width 0.3s ease;
}

ul li a:hover::after {
    width: 100%;
}